<header>
  <div class="row">
    <div class="large-12 medium-12 columns header-flex">
      <!-- Site Title Goes Here -->
      <div class="title-container">
        <div class="site-title">
          <a href="/">Athens-Clarke County</a>
        </div>
        <div class="site-tagline">
          UGA Extension Office
        </div>
      </div>
      <!-- Desktop Search Container -->
      <form action="#" class="desktop-search-container show-for-large">
        <input type="text" placeholder="Search Extension Office" class="desktop-search-input"/>
        <button type="submit" value="Go" class="desktop-search-submit">
          <i class="material-icons">search</i>
        </button>
      </form>
      <!-- Hamburger Icon -->
      <div class="hide-for-large" style="display: flex; justify-content:flex-end;">
        <button class="right-off-canvas-toggle hide-for-large menu-btn" id="mobileNav" tabindex="4">
          <i class="material-icons hamburger-icon">menu</i>
        </button>
        <!-- Mobile Search Icon -->
        <button class="hide-for-large" id="mobileSearch">
          <i class="material-icons" id="mobileSearchIcon">search</i>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- Mobile Search -->
<form action="#" class="mobile-search-container hide-for-large">
  <input type="text" placeholder="Search Extension Office" class="mobile-search-input" id="mobileSearchInput" />
</form>
