<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Athens-Clarke County</title>
	<link rel="stylesheet" type="text/css" href="{{basedir}}/css/app.css" />
	{# <link rel="stylesheet" type="text/css" href="{{basedir}}/css/pushy.css" /> #}
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" type="image/png" href="http://uga.edu/favicon.png"/>
	<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
	<![endif]-->
</head>
