<div class="extension-banner">
  <div class="row small-collapse medium-uncollapse">
    <div class="large-12 columns">
      <a href="http://www.extension.uga.edu"><img class="extension-logo" src="{{basedir}}/images/uga-extension-logo.svg" alt="Jump to UGA Extension Homepage" /></a>
      <a class="eb-dropdown-button" role="button" aria-label="Dropdown Toggle" tabindex="0">
        <i class="material-icons eb-arrow" aria-hidden="true" style="speak: none;">keyboard_arrow_down</i>
      </a>
      <div class="eb-dropdown-container" role="alert">
        <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="eb-dropdown-container-content">
              <p class="eb-section-title">More from UGA Extension:</p>
              <nav class="eb-dropdown-links-container">
                <a href="http://extension.uga.edu/publications" class="eb-dropdown-link">Publications</a>
                <!-- <a href="#" class="eb-dropdown-link">Topics</a> -->
                <a href="http://extension.uga.edu/about/staff" class="eb-dropdown-link">People</a>
                <a href="http://extension.uga.edu/calendar" class="eb-dropdown-link">Events</a>
                <a href="http://extension.uga.edu/about/county" class="eb-dropdown-link">County Offices</a>
                <a href="http://extension.uga.edu/careers" class="eb-dropdown-link">Careers</a>
                <a href="http://extension.uga.edu/4h" class="eb-dropdown-link">4-H</a>
                <a href="http://extension.uga.edu/about" class="eb-dropdown-link">About</a>
              </nav>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div class="eb-dropdown-container-content">
              <p class="eb-section-title">About Us:</p>
              <span class="eb-section-description">UGA Extension agents, staff and trained volunteers keep local communities informed through county Extension offices. We offer reliable information and programs in the areas of agriculture, food, families, the environment, and 4-H youth development. Let us help you learn, grow, and do more! </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
