<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script src="{{basedir}}/js/extension-banner.js"></script>
<script src="{{basedir}}/js/foundation.min.js"></script>
<script src="{{basedir}}/js/pushy.js"></script>
<script src="{{basedir}}/js/lightbox.js"></script>
<script src="{{basedir}}/js/app.js"></script>
<script>
	$(document).foundation();
</script>
