<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>John French - Designer &amp; Developer</title>
	<link rel="stylesheet" type="text/css" href="{{basedir}}/css/app.css" />
	<link rel="stylesheet" type="text/css" href="{{basedir}}/css/lightgallery.min.css" />
</head>
