<header class="home-header">
    <h1><span>John</span><span class="french">French</span></h1>
    <h2>Web Design &amp; Development.</h2>
    <h2>UX, Accessibility, &amp; All Things Front-End. Since 2010.</h2>
</header>
