<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{{basedir}}/js/app.js"></script>
<script src="{{basedir}}/js/feather.min.js"></script>
<script src="{{basedir}}/js/lightgallery.min.js"></script>


<!-- Call Feather Replace Method -->
<script>
  feather.replace({'width': 48, 'height': 48});
</script>

<!-- Call the LightGallery Plugin -->
<script type="text/javascript">
    $(document).ready(function() {
        $("#lightgallery").lightGallery();
    });
</script>
