{% extends "index.njk" %}

{% block header %}
  <!-- Back Button -->
  <a class="back-button" href="{{basedir}}/#main">Back</a>
  <!-- Detail Header -->
  <header class="detail-header" style="background-image: url({{basedir}}/images/heros/bloodroot-hero.jpg);">
    <div class="detail-header-content">
      <h1>Knifemaking Lexicon</h1>
      <h2>UX Design, Font-End Development</h2>
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="detail-main">
    <div class="detail-main-content">
      <span class="title">About the Project</span>
      <p class="description">
        After doing some general UX consulting with the fine blacksmiths at Bloodroot Blades, they asked me to develop an interactive tool for users to learn about knifemaking.  The key for us was to make the experience as beautiful as the knives themselves.
      </p>

      <a class="button" id="bloodrootGallery" href="#">View the Project Gallery</a>

    </div>

    <div class="detail-image">
      <img src="{{basedir}}/images/screens/bloodroot/bloodroot-iphone.png" />
    </div>


  </div>
{% endblock %}
