{% extends "index.njk" %}

{% block header %}
  <!-- Back Button -->
  <a class="back-button" href="{{basedir}}/#main">Back</a>
  <!-- Detail Header -->
  <header class="detail-header" style="background-image: url({{basedir}}/images/heros/caes-hero.jpeg);">
    <div class="detail-header-content">
      <h1>College of Agricultural &amp; Environmental Sciences</h1>
      <h2>UX Design, Font-End Development</h2>
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="detail-main">
    <div class="detail-main-content">
      <span class="title">About the Project</span>
      <p class="description">
        The College of Agricultural &amp; Environmental Sciences at the University of Georgia is a complex and massive institution.  There are many moving parts, individual departments, and research branches.  My task for this project was to create a “main” template for all top-level pages, and then to create an additional template for subsites (pictured elsewhere).
      </p>

      <p class="description">
        We are currently developing this template, but I worked hard to make it clean, with constant college branding throughout.  One problem we faced is that there are a lot of individual components our content managers can utilize (news list, events list, image gallery, etc). It is important to the overall layout of the page that each of these components is similar in feel but distinct in personality so that a user can tell which is which by aesthetic as well as by title and context.
      </p>

      <a class="button" id="caesGallery" href="#">View the Project Gallery</a>

    </div>

    <div class="detail-image">
      <img src="{{basedir}}/images/screens/caes/caes-iphone.png" />
    </div>


  </div>
{% endblock %}
