{% extends "index.njk" %}

{% block header %}
  <!-- Back Button -->
  <a class="back-button" href="{{basedir}}/#main">Back</a>
  <!-- Detail Header -->
  <header class="detail-header" style="background-image: url({{basedir}}/images/heros/extension-hero.jpg);">
    <div class="detail-header-content">
      <h1>UGA Extension</h1>
      <h2>UX Design, Font-End Development</h2>
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="detail-main">
    <div class="detail-main-content">
      <span class="title">About the Project</span>
      <p class="description">
        This project involved a complete redesign and build-out of the old Extension site.  Our team began with a deep research phase where we determined the problems with the old site through user research and attempted to clearly define the goals of the new design. One of our foremost goals was increasing the engagement of the average user in order to boost contact with their local/county Extension office.
      </p>

      <p class="description">
        By developing a easy-to-use modal and cookie system, we allow users to set their county and have ready access to relevant contact information. We have seen engagement from the website rise by around 20% in 2017.
      </p>

      <p class="description">
        My responsibilities included the initial design concept, sketching, prototyping and wireframing, and the complete front-end build out.  I built the front-end in Nunjucks on top of an Express.js Node application for easier templating.
      </p>

      <a class="button" id="extensionGallery" href="#">View the Project Gallery</a>

    </div>

    <div class="detail-image">
      <img src="{{basedir}}/images/screens/extension/extension-iPhone.png" />
    </div>
  </div>
{% endblock %}
