{% extends "index.njk" %}

{% block header %}
  <!-- Back Button -->
  <a class="back-button" href="{{basedir}}/#main">Back</a>
  <!-- Detail Header -->
  <header class="detail-header" style="background-image: url({{basedir}}/images/heros/oak-house-hero.jpg);">
    <div class="detail-header-content">
      <h1>Oak House</h1>
      <h2>UI Design / Branding Concepts</h2>
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="detail-main">
    <div class="detail-main-content">
      <span class="title">About the Project</span>
      <p class="description">
        Oak House in an amazing rock band out of my hometown (Athens, Georgia).  I worked with them on developing a new visual branding style before the release of their most recent album.  Our ongoing collaboration will help inform their web design and branding presence.
      </p>

      <p class="description">
        Music is a big passion of mine, and it was a fun experience to attempt to capture some of the raw energy of this group into designs, without being too on-the-nose.  Their music has a dream-like quality against the angsty rock, so I felt like a dark UI with a mixture of rough and smooth edges would be a good place to start.
      </p>

      <a class="button" id="oakHouseGallery" href="#">View the Project Gallery</a>

    </div>

    <div class="detail-image">
      <img src="{{basedir}}/images/screens/oak-house/oak-house-iphone.png" />
    </div>


  </div>
{% endblock %}
