{% extends "index.njk" %}

{% block header %}
  <!-- Back Button -->
  <a class="back-button" href="{{basedir}}/#main">Back</a>
  <!-- Detail Header -->
  <header class="detail-header" style="background-image: url({{basedir}}/images/heros/quote-hero.jpg);">
    <div class="detail-header-content">
      <h1>Quote</h1>
      <h2>UX Design, Front-End Development</h2>
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="detail-main">
    <div class="detail-main-content">
      <span class="title">About the Project</span>
      <p class="description">
        We’re starting to enter a new frontier of animation on the web.  Several articles I read and demos I saw inspired me to do a case study of my own about the role of typography and animation in interfaces and user experience.
      </p>
      <p class="description">
        In particular, I attempted to use this project to convey the power of subtle animations, rather than explosions or fireworks.  Timed fades create a sense of direction and narrative for the user.  The minimalism of the color and typography of this project were designed to let the quotes themselves have the most impact.  Typically with these case studies, I include a gallery of screenshots, but for the sake of the experience, you can launch the project to see if for yourself.
      </p>

      <a class="button" href="http://www.johnfrench.xyz/quote" target="_blank">View the Project</a>

    </div>

    <div class="detail-image">
      <img src="{{basedir}}/images/screens/quote/quote-iphone.png" />
    </div>


  </div>
{% endblock %}
