{% extends "index.njk" %}

{% block header %}
  <!-- Back Button -->
  <a class="back-button" href="{{basedir}}/#main">Back</a>
  <!-- Detail Header -->
  <header class="detail-header" style="background-image: url({{basedir}}/images/heros/shelf-hero.jpg);">
    <div class="detail-header-content">
      <h1>Shelf</h1>
      <h2>UX Design, Font-End Development</h2>
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="detail-main">
    <div class="detail-main-content">
      <span class="title">About the Project</span>
      <p class="description">
        This is a passion project currently in development, in partnership with <a href="http://www.github.com/gabeotisbenson">Gabriel Benson</a>.  The idea was to create a sleek, minimal tool for managing comic book collections.  We designed the app to solve a simple problem that so many other comic book apps miss: the user should instantly be able to see what is coming out soon and select comics they want to get, while keeping track of what they already have.
      </p>
      <p class="description">
        Comic database applications are great for providing a wealth of information about each individual issue, but most of that information is irrelevant to the user when they are attempting to manage their collection.  You wouldn’t write down the chemical structure of food on your shopping list. You just want to know what you need to buy for dinner! So, we set out to make Shelf as simple as easy as possible and we are excited about the features we are developing.
      </p>

      <a class="button" id="shelfGallery" href="#">View the Project Gallery</a>

    </div>

    <div class="detail-image">
      <img src="{{basedir}}/images/screens/shelf/shelf-iphone.png" />
    </div>


  </div>
{% endblock %}
