{% extends "index.njk" %}

{% block header %}
  <!-- Back Button -->
  <a class="back-button" href="{{basedir}}/#main">Back</a>
  <!-- Detail Header -->
  <header class="detail-header" style="background-image: url({{basedir}}/images/heros/subsite-hero.jpg);">
    <div class="detail-header-content">
      <h1>CAES/Extension Subsites</h1>
      <h2>UX Design, Font-End Development</h2>
    </div>
  </header>
{% endblock %}

{% block main %}
  <div class="detail-main">
    <div class="detail-main-content">
      <span class="title">About the Project</span>
      <p class="description">
        In addition to both the Extension and CAES templates I developed for the University of Georgia, I was asked to solve an additional problem.  There were many individual sites that were a part of either the College or the Extension network that couldn’t come into the main template but needed to remain consistent in look and feel.
      </p>

      <p class="description">
        It was a fun challenge to create interfaces and experiences that shared elements with the main template, but still felt original.  We did a lot of research on what users feel as “familiar” to them between sites.  We sought to preserve fonts and shapes in the hierarchy, but altered layout and navigation patterns significantly to give the subsites their own distinct feel.
      </p>

      <a class="button" id="subsiteGallery" href="#">View the Project Gallery</a>

    </div>

    <div class="detail-image">
      <img src="{{basedir}}/images/screens/subsite/subsite-iphone.png" />
    </div>


  </div>
{% endblock %}
