@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900");
@font-face {
  font-family: 'Pier Sans';
  src: url("/fonts/PierSans-Regular.otf"); }

@font-face {
  font-family: 'Pier Sans';
  src: url("/fonts/PierSans-Bold.otf");
  font-weight: bold; }

@font-face {
  font-family: 'Pier Sans';
  src: url("/fonts/PierSans-Regular.otf"); }

@font-face {
  font-family: 'Pier Sans';
  src: url("/fonts/PierSans-Bold.otf");
  font-weight: bold; }

* {
  margin: 0; }

.page-border {
  width: calc(100vw - 1.55em);
  height: calc(100vh - 1.55em);
  overflow: scroll;
  overflow-x: hidden;
  background: #dddddd;
  border: 0.8em solid #ffffff; }

.row {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 .5em 0 .5em; }

h1, h1 span {
  font-family: "Playfair Display", serif;
  color: #525252; }

h2, h3, h4, h5, h6 {
  font-family: "Pier Sans", "Helvetica", sans-serif;
  color: #525252; }

body {
  font-family: "Pier Sans", "Helvetica", sans-serif;
  font-size: .9rem; }

p, span, ul, li {
  font-family: "Pier Sans", "Helvetica", sans-serif;
  color: #525252;
  font-size: .9rem; }

a {
  text-decoration: none; }

.icon {
  color: #919191;
  transition: 180ms ease color; }
  .icon:hover {
    color: #525252; }
  .icon:active {
    color: #000000; }

.title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1; }

.description {
  display: block;
  margin-top: 1em; }

.get-in-touch {
  background: #ffffff;
  display: block;
  padding: 4em 1em 5em 1em; }
  .get-in-touch .title {
    color: #525252; }
  .get-in-touch .icon-container {
    margin-top: 1em; }
    .get-in-touch .icon-container .icon {
      margin-right: 1em; }

.personal-info {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  margin: 0 -.5em 0 -.5em; }
  .personal-info .about-me {
    background: #dddddd;
    flex-grow: 1;
    padding: 4em 1em 4em 1em;
    margin: .5em .5em .5em .5em; }
    @media (min-width: 0px) and (max-width: 639px) {
      .personal-info .about-me {
        width: 100%;
        height: auto; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .personal-info .about-me {
        width: 50%;
        height: auto; } }
    @media (min-width: 1024px) {
      .personal-info .about-me {
        width: calc(50% - 3em);
        height: 1000px;
        margin-bottom: 0; } }
    .personal-info .about-me a {
      font-weight: bold;
      color: #000000; }
    .personal-info .about-me a:hover {
      text-decoration: underline; }
  .personal-info .portrait {
    background-image: url("../images/portrait.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #dddddd;
    flex-grow: 1;
    min-height: 600px;
    padding: 1em 1em 7em 1em;
    margin: .5em .5em .5em .5em; }
    @media (min-width: 0px) and (max-width: 639px) {
      .personal-info .portrait {
        width: 100%;
        height: auto; } }
    @media (min-width: 640px) and (max-width: 1023px) {
      .personal-info .portrait {
        width: 50%;
        height: auto; } }
    @media (min-width: 1024px) {
      .personal-info .portrait {
        width: calc(50% - 3em);
        height: 1000px;
        margin-bottom: 0; } }

.detail-main {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 .5em 0 .5em;
  padding: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  @media (min-width: 640px) and (max-width: 1023px), (min-width: 0px) and (max-width: 639px) {
    .detail-main {
      flex-direction: column; } }

.detail-main-content {
  flex-grow: 2; }
  .detail-main-content a {
    color: #000000;
    font-weight: bold; }
    .detail-main-content a:hover {
      text-decoration: underline; }
  .detail-main-content .personal-info .about-me a.button:hover, .personal-info .about-me .detail-main-content a.button:hover, .detail-main-content .button:hover {
    text-decoration: none; }

.detail-main .detail-image {
  flex-grow: 1;
  margin-left: 2em; }
  @media (min-width: 640px) and (max-width: 1023px), (min-width: 0px) and (max-width: 639px) {
    .detail-main .detail-image {
      flex-grow: 1;
      margin: 2em auto 0 auto; }
      .detail-main .detail-image img {
        width: 100%; } }

.home-header {
  margin-top: 20%;
  padding: 2em 1em 2em 1em;
  width: calc(50% - 2.5em); }
  @media (min-width: 640px) and (max-width: 1023px) {
    .home-header {
      width: 80%; } }
  @media (min-width: 0px) and (max-width: 639px) {
    .home-header {
      width: 80%; } }
  .home-header h1 span {
    font-size: 5rem;
    font-weight: bold;
    line-height: .8;
    display: block;
    margin-left: 10px; }
    @media (min-width: 0px) and (max-width: 639px) {
      .home-header h1 span {
        font-size: 3rem; } }
  .home-header h1 span.french {
    margin-left: 40px;
    margin-bottom: 10px; }
  .home-header h2 {
    margin-left: 40px;
    font-size: 1rem;
    font-weight: normal; }
    @media (min-width: 0px) and (max-width: 639px) {
      .home-header h2 {
        font-size: .8rem; } }

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: .7em;
  margin-left: .7em;
  padding: 1em 2.5em 1em 2em;
  background: #ffffff;
  color: #525252; }

.detail-header {
  width: 100%;
  height: 50vh;
  min-height: 400px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 1em #ffffff; }
  .detail-header .detail-header-content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (min-width: 0px) and (max-width: 639px) {
      .detail-header .detail-header-content {
        align-items: flex-start; } }
  .detail-header h1, .detail-header h2 {
    color: #ffffff;
    margin: 0 1em 0 1em;
    font-family: "Pier Sans", "Helvetica", sans-serif; }
    @media (min-width: 0px) and (max-width: 639px) {
      .detail-header h1, .detail-header h2 {
        text-align: left;
        margin-left: 10px; } }
  .detail-header h2 {
    font-weight: normal; }

.button, .personal-info .about-me a.button, .detail-main-content .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 2em 0;
  padding: .5em;
  background: #525252;
  color: #ffffff;
  font-family: "Pier Sans", "Helvetica", sans-serif;
  font-size: .9em;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  flex-wrap: wrap;
  min-height: 4em;
  max-width: 450px;
  transition: 180ms ease background, 180ms ease color; }
  .button:hover, .personal-info .about-me a.button:hover {
    background: #393939;
    color: #ffffff; }
  .button:active, .personal-info .about-me a.button:active {
    background: #1f1f1f; }

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4em -.5em 0 -.5em;
  padding: .5em 0 .5em 0;
  background: #ffffff; }

.card {
  display: flex;
  flex-grow: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: .5em; }
  @media (min-width: 0px) and (max-width: 639px) {
    .card {
      width: 100%;
      height: 300px; } }
  @media (min-width: 640px) and (max-width: 1023px) {
    .card {
      width: 50%;
      height: 300px; } }
  @media (min-width: 1024px) {
    .card {
      width: calc(50% - 1em);
      height: 400px; } }
  .card .content {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    padding: 1em;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 180ms ease background, 180ms ease padding; }
    .card .content:hover {
      background: rgba(0, 0, 0, 0.4);
      padding-left: 2em; }
  .card .title, .card .description {
    display: block;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); }
  .card .title {
    font-size: 1.5em;
    font-weight: bold; }
  .card .description {
    font-weight: normal; }
