// Import Global Variables
// -----------------------

@import 'variables';

// Page Structure & Styles
// -----------------------

* {
  margin: 0;
}

// html, body {
//   min-height: 100vh;
// }

html {
}

body {
}

.page-border {
  width: calc(100vw - 1.55em);
  height: calc(100vh - 1.55em);
  overflow: scroll;
  overflow-x: hidden;
  background: $body-bg-color;
  border: .8em solid $white;
  // padding: 1em;
}

main {
  // flex-grow: 1;
  // max-width: 1280px;
  // margin-left: auto;
  // margin-right: auto;
  // padding: 1em;
}

.row {
  @include row;
}

// Typography & Global Styles
//---------------------------

// Heading Font & Color
h1, h1 span {
  font-family: $h1-font-family;
  color: $dark-gray;
}

h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  color: $default-text-color;
}

// Body Fonts

body {
  font-family: $paragraph-font-family;
  font-size: .9rem;
}

p, span, ul, li {
  font-family: $paragraph-font-family;
  color: $default-text-color;
  font-size: .9rem;
}

// Links
a {
  text-decoration: none;
}

// Icons
.icon {
  color: $icon-default-color;
  transition: 180ms ease color;
  // Hover State
  &:hover {
    color: $icon-hover-color;
  }
  // Active State
  &:active {
    color: $icon-active-color;
  }
}

// Title Element
.title {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
}

// Description Element
.description {
  display: block;
  margin-top: 1em;
}

// Get In Touch Section
// --------------------

.get-in-touch {
  background: $white;
  display: block;
  padding: 4em 1em 5em 1em;
  .title {
    color: $dark-gray;
  }
  .icon-container {
    margin-top: 1em;
    .icon {
      margin-right: 1em;
    }
  }
}

// Personal Info Section
// ---------------------

@mixin responsiveGrid {
  // Small Screens
  @media #{$phone} {
    width: 100%;
    height: auto;
  }
  // Medium Screens
  @media #{$tablet} {
    width: 50%;
    height: auto;
  }
  // Large Screens
  @media #{$desktop} {
    width: calc(50% - 3em);
    height: 1000px;
    margin-bottom: 0;
  }
}

.personal-info {
  background: $white;
  display: flex;
  flex-wrap: wrap;
  background: $white;
  margin: 0 -.5em 0 -.5em;
  // About Me
  .about-me {
    background: $body-bg-color;
    flex-grow: 1;
    padding: 4em 1em 4em 1em;
    margin: .5em .5em .5em .5em;
    @include responsiveGrid;
    a {
      font-weight: bold;
      color: $black;
    }
    a:hover {
      text-decoration: underline;
    }
    a.button {
      @extend .button;
    }
  }
  // Portrait
  .portrait {
    background-image: url("../images/portrait.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $body-bg-color;
    flex-grow: 1;
    min-height: 600px;
    padding: 1em 1em 7em 1em;
    margin: .5em .5em .5em .5em;
    @include responsiveGrid;
  }
}

// Detail Main Section
// -------------------

.detail-main {
  @include row;
  padding: 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  // Tablet & Phone Screen Size
  @media #{$tablet, $phone} {
    flex-direction: column;
  }
}

// Detail Content
.detail-main-content {
  flex-grow: 2;
  a {
    color: $black;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  .button {
    @extend .button;
    &:hover {
      text-decoration: none;
    }
  }
}

// Detail Image
.detail-main .detail-image {
  flex-grow: 1;
  margin-left: 2em;
  // Tablet & Phone Screen Size
  @media #{$tablet, $phone} {
    flex-grow: 1;
    margin: 2em auto 0 auto;
    img {
      width: 100%;
    }
  }
}
