// Home Header
// -----------

.home-header {
  margin-top: 20%;
  padding: 2em 1em 2em 1em;
  width: calc(50% - 2.5em);
  // Tablet Screen Styles
  @media #{$tablet} {
    width: 80%;
  }
  // Phone Screen Styles
  @media #{$phone} {
    width: 80%;
  }
  h1 span {
    font-size: 5rem;
    font-weight: bold;
    line-height: .8;
    display: block;
    margin-left: 10px;
    // Phone Styles
    @media #{$phone} {
      font-size: 3rem;
    }
  }
  h1 span.french {
    margin-left: 40px;
    margin-bottom: 10px;
  }
  h2 {
    margin-left: 40px;
    font-size: 1rem;
    font-weight: normal;
    // Phone Styles
    @media #{$phone} {
      font-size: .8rem;
    }
  }
}

// Detail Header
// -------------

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: .7em;
  margin-left: .7em;
  padding: 1em 2.5em 1em 2em;
  background: $white;
  color: $dark-gray;
}

.detail-header {
  width: 100%;
  height: 50vh;
  min-height: 400px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: solid 1em $white;
  .detail-header-content {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // Small Screen Styles
    @media #{$phone} {
      align-items: flex-start;
    }
  }
  h1, h2 {
    color: $white;
    margin: 0 1em 0 1em;
    font-family: $header-font-family;
    // Small Screen Styles
    @media #{$phone} {
      text-align: left;
      margin-left: 10px;
    }
  }
  h2 {
    font-weight: normal;
  }
}
