// Color Variables
//-----------------
$white: #ffffff;
$black: #000000;
$dark-gray: #525252;
$tan: #EAEAEA;

// Color Variables By Function:
$body-bg-color: darken($tan, 5%);
// $body-bg-color: darken($dark-gray, 20%);

// Icons
$icon-default-color: #919191;
$icon-hover-color: $dark-gray;
$icon-active-color: $black;

// Typography
// ----------

// Playfair Display
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');

// Pier Sans Regular
@font-face {
  font-family: 'Pier Sans';
  src: url('/fonts/PierSans-Regular.otf');
}

@font-face {
  font-family: 'Pier Sans';
  src: url('/fonts/PierSans-Bold.otf');
  font-weight: bold;
}

// // Open Sans
// @import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Font Family Variables
$h1-font-family: 'Playfair Display', serif;
$header-font-family: 'Pier Sans', 'Helvetica', sans-serif;
$paragraph-font-family: 'Pier Sans', 'Helvetica', sans-serif;
$button-font-family: $header-font-family;

// Font Color Variables
$default-text-color: $dark-gray;
$link-font-color: $black;

// Breakpoints
// -----------

$phone: "(min-width: 0px) and (max-width: 639px)";
$mobile-nav: "(min-width: 0px) and (max-width: 895px)";
$tablet: "(min-width: 640px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";


// Global Mixins
//--------------

// Row Mixin
@mixin row () {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 .5em 0 .5em;
}
