.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 4em -.5em 0 -.5em;
  padding: .5em 0 .5em 0;
  background: $white;
}

.card {
  display: flex;
  flex-grow: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: .5em;
  // Small Screens
  @media #{$phone} {
    width: 100%;
    height: 300px;
  }
  // Medium Screens
  @media #{$tablet} {
    width: 50%;
    height: 300px;
  }
  // Large Screens
  @media #{$desktop} {
    width: calc(50% - 1em);
    height: 400px;
  }
  // Title & Description
  .content {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    padding: 1em;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 180ms ease background, 180ms ease padding;
    &:hover {
      background: rgba(0,0,0,0.4);
      padding-left: 2em;
    }
  }
  .title, .description {
    display: block;
    color: $white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
  .description {
    font-weight: normal;
  }
}
