<!doctype html>
<html lang="en">
	{% include "./partials/head.njk" %}
	<body>
		<div class="page-border">
			{% block header %}
				{% include "./partials/header.njk" %}
			{% endblock %}
			<main id="main">
				{% block main %}
					<!-- Portfolio Card Section -->
					<div class="card-container">
						{% for portfolioItem in portfolio %}
						<div class="card" style="background-image: url({{ portfolioItem.image }});">
							<a class="content" href="{{ portfolioItem.url }}">
								<span class="title">{{ portfolioItem.title }}</span>
								<span class="description">{{ portfolioItem.description }}</span>
							</a>
						</div>
						{% endfor %}
					</div>
					<!-- Get In Touch Section -->
					<div class="get-in-touch">
						<span class="title">Get In Touch</span>
						<div class="icon-container">
					    <a class="icon" href="https://twitter.com/johnfrenchxyz">
								<i data-feather="twitter"></i>
							</a>
							<a class="icon" href="https://gitlab.com/jwfrench">
								<i data-feather="gitlab"></i>
							</a>
							<a class="icon" href="https://github.com/johnfrenchxyz">
								<i data-feather="github"></i>
							</a>
						</div>
					</div>
					<!-- Personal Info Section -->
					<div class="personal-info">
						<div class="about-me">
							<span class="title">About Me</span>
							<span class="description">I’ve been a professional designer and developer for over seven years. I'm currently employed making beautiful websites that help connect people all across the state of Georgia have access to the tools, resources of knowledge of the University of Georgia.</span>
							<span class="description">I love taking ideas from concept to completion. I love sketching and prototyping just as much as I love diving into Node, Vue, and the like. I am passionate about accessibility and open source advocacy. I believe wholeheartedly that websites can be designed and built to be beautiful, functional, and useable for everyone.</span>
							<span class="description">I'm also married to the amazing <a href="https://www.paigefrench.com">Paige French</a>. Together we raise three incredible daughters. Oh, and banjo. I play the banjo.</span>
							<a class="button" href="{{basedir}}/images/john-french-resume.pdf">Download My Resume</a>
						</div>
						<div class="portrait">

						</div>
					</div>
				{% endblock %}
			</main>
			{% include "./partials/footer.njk" %}
			{% include "./partials/scripts.njk" %}
		</div>
	</body>
</html>
